@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: 'poppins', sans-serif;
    padding: 0;
}
body{
    background-color: #2C3D55;
    text-align: center;
}
h1{
    height: 10vmin;
    
}

.container{
    height: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    height: 40vmin;
    width: 40vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.cell{
    background-color: #84828F;
    height: 12vmin;
    width: 12vmin;
    border-radius: 1rem;
    border: 0.25rem solid #6A687A ;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(103, 18, 18);
}
.cell:hover{
border: 0.25rem solid #252a2f;
}
#restart-Btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #3E4C5E;
    border: 0.25rem solid #6A687A;
    color: #fff;
    border-radius: 1rem;
    
    
}
#restart-Btn:hover{
    border: 0.25rem solid #252a2f;
}

#new-Btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #3E4C5E;
    color: #fff;
    border-radius: 1rem;
    border: 0.25rem solid #6A687A;
}
#new-Btn:hover{
    border: 0.25rem solid #252a2f;
}
#msg{
    color: rgb(0, 0, 0);
    font-size: 4vmin;
    
}
.winner-msg{
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.hide {
/* display: none; */
}